/** {*/

/*    border:1px solid;*/

/*}*/

body {
    background: #E32636;
}


.logo img {
    width: 150px;
    position: absolute;
    transform: translateX(-50%);
    top:230px;
   
}

.logo h3 {
    position: absolute;
    height: 800px;
    width: 100%;
}

.logo {
    position: relative;
    color: white;
    text-align: center;
    background: #EE204D;
    height: 800px;
}

.images {
    position: relative;
    color: white;
    margin-top: 7px;
    text-align: center;
    background: #EE204D;
    height: 400px;

}

h1 {
    font-family: BebasNeue;
    position: absolute;
    margin: 0;
    left:50%;
    transform: translateX(-50%);
    top: 450px;
}


h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-family: Montserrat;
    
}

span {
    font-style: oblique;
    font-weight: 700;
}


@font-face{
    src:url('BebasNeue Regular.otf');
    font-family: BebasNeue;
}

.images h3 {
    position: absolute;
    top: 160px;
    font-size: 50px;
    
}

p {
    font-family: BebasNeue;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:400px;
}
